<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Empresa</title>
    <link href="./css/listcss.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


</head>

<body>
    <div class="container-fluid">
        <h1 class="text-primary d-flex justify-content-center">Empresas Cadastradas</h1>
        <div class="row justify-content-center">
            <form class="col-md-4" role="search">
                <div class="input-group">
                    <input class="form-control me-2" type="search" placeholder="CNPJ" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>CNPJ</th>
                            <th>Telefone</th>
                        </tr>
                    </thead>
                    <tfoot></tfoot>
                    <tr>
                        <td>Empresa 1</td>
                        <td>99.999.999.9999-99</td>
                        <td>45999999999 <a href="#" class="bi bi-trash lixo" data-bs-toggle="modal"
                                data-bs-target="#modal-1"></a> <a href="#" class="bi-pencil-square editar"
                                data-bs-toggle="modal" data-bs-target="#modal-2"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>EMPRESA 2</td>
                        <td>99.999.999.9999-99</td>
                        <td>45999999999 <a href="#" class="bi-trash lixo" data-bs-toggle="modal"
                                data-bs-target="#modal-1"></a> <a href="#" class="bi-pencil-square editar"
                                data-bs-toggle="modal" data-bs-target="#modal-2"></a></td>
                    </tr>
                    <td>Empresa 3</td>
                    <td>99.999.999.9999.99</td>
                    <td>45999999999<a href="#" class="bi-trash lixo" data-bs-toggle="modal"
                            data-bs-target="#modal-1"></a> <a href="#" class="bi-pencil-square editar"
                            data-bs-toggle="modal" data-bs-target="#modal-2"></a></td>
                </table>
            </div>
        </div>
    </div>
    <!-- MODAL 1 -->
    <div class="modal fade" id="modal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Voce tem certeza disso?!</b></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <h2><b>Voce tem certeza que gostaria de deletar empresa X?</b></h2>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Excluir!</button>

                </div>
            </div>
        </div>
    </div>
    <!-- MODAL 2 -->
    <div class="modal fade2" id="modal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Alterar Dados!</b></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="InputEmail" class="form-label">CNPJ</label>
                        <input type="text" name="cnpj" id="cnpjInput" class="form-control">
                        <label for="InputAddres1" class="form-label">Endereço</label>
                        <input type="text" name="endereço" id="endInput" class="form-control">
                        <label for="InputRSocial" class="form-label">Razão Social</label>
                        <input type="text" name="razao social" id="rsInput" class="form-control">
                        <label class="form-label" for="phone">telefone</label>
                        <input type="text" id="phone" class="form-control" data-mdb-input-mask="45 99999-9999" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>